@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=DM+Sans&family=Ubuntu:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  background-color: rgb(255, 252, 252);
}

.container h1 {
  padding: 16px 32px;
  color: rgb(0, 0, 0);
  font-size: 27px;
  text-align: center;
}

.container {
  user-select: none;
  display: inline-block;
  margin: 0 35px 0 65px;
  width: 250px;
  outline: none;
  border-radius: 13px;
  background-image: linear-gradient(
    30deg,
    hsl(240deg 84% 74%) 0%,
    hsl(306deg 64% 69%) 10%,
    hsl(339deg 100% 76%) 20%,
    hsl(12deg 100% 78%) 30%,
    hsl(34deg 100% 75%) 40%,
    hsl(55deg 82% 76%) 50%,
    hsl(41deg 100% 78%) 60%,
    hsl(32deg 100% 78%) 70%,
    hsl(22deg 100% 80%) 79%,
    hsl(11deg 100% 81%) 89%,
    hsl(0deg 81% 81%) 100%
  );
  transition: 0.3s;
}

.container2 {
  cursor: pointer;
  
}

.container:hover {
  box-shadow: 1px 8px 20px 13px #ffb6c1;
}

.container2:active {
  box-shadow: rgb(38, 57, 77) 0px 22px 30px -10px;
}
